Repository jthegedus/firebase-gcp-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.yml:

---
"*.{js,jsx,ts,tsx,json,css,scss,md,graphql}":
  - prettier --write
  - git add
"*.{js,jsx}":
  - eslint

fix Posts & Code TOC link
  README.md
Due: prettier --write

update readme format
  README.md
Due: prettier --write

move config into package.json
  .eslintignore
  .eslintrc.yml
  .huskyrc.yml
  .lintstagedrc.yml
  .prettierrc.yml
  package.json
Due: prettier --write

update nodejs version
  .tool-versions
Due: none

rename blog-examples to blog-code as pointed out in #2
  README.md
  firebase-functions-es6-babel/README.md
  firebase-functions-es6-babel/package.json
  firebase-functions-es6-babel/yarn.lock
  firebase-functions-express/README.md
  firebase-functions-express/package.json
  firebase-namespaced-packages/README.md
  firebase-namespaced-packages/package.json
  gcp-functions-graphql/README.md
  package.json
Due: prettier --write

fix typo
  firebase-functions-es6-babel/README.md
  firebase-functions-express/README.md
Due: prettier --write

use html for cleaner links in readme
  README.md
Due: prettier --write

update -find me- section
  README.md
Due: prettier --write

re-order readme
  README.md
Due: prettier --write

Fix cpx command
  firebase-functions-es6-babel/package.json
Due: prettier --write

Fixing firebase serve to work with babel
  firebase-functions-es6-babel/package.json
Due: prettier --write

gcp-functions-graphql: upgrade deps
  gcp-functions-graphql/README.md
  gcp-functions-graphql/package.json
  gcp-functions-graphql/yarn.lock
Due: prettier --write

root-repo: upgrade deps
  package.json
  yarn.lock
Due: prettier --write

fb-namespaced-packages: upgrade deps
  firebase-namespaced-packages/package.json
  firebase-namespaced-packages/yarn.lock
Due: prettier --write

fb-funcs-express: update deps, remove warning
  firebase-functions-express/README.md
  firebase-functions-express/firebase.json
  firebase-functions-express/package.json
  firebase-functions-express/src/index.js
  firebase-functions-express/yarn.lock
Due: prettier --write, eslint

fb-funcs-babel: update deps, fix #3
  firebase-functions-es6-babel/README.md
  firebase-functions-es6-babel/firebase.json
  firebase-functions-es6-babel/package.json
  firebase-functions-es6-babel/src/.babelrc
  firebase-functions-es6-babel/yarn.lock
Due: prettier --write

update root node version
  .tool-versions
Due: none

fb-funcs-express: update readme to reflect new cmd naming
  firebase-functions-express/README.md
  firebase-functions-express/package.json
Due: prettier --write

improve readme
  README.md
Due: prettier --write

simplify readme
  README.md
Due: prettier --write

rm typos
  README.md
Due: prettier --write

clean up readme
  README.md
Due: prettier --write

rm toc link to top item as its 1 line height away from the link anyway
  README.md
Due: prettier --write

funcs:copy script needed source in quotes
  firebase-functions-es6-babel/package.json
Due: prettier --write

gcp-cloudbuild: add examples
  gcp-cloud-build/.examples/master.yaml
  gcp-cloud-build/.examples/not-master.yaml
  gcp-cloud-build/.examples/release-tag.yaml
  gcp-cloud-build/README.md
  gcp-cloud-build/cloudbuild.yaml
Due: prettier --write

update Node LTS
  .tool-versions
Due: none

remove unnecessary deps
  package.json
  yarn.lock
Due: prettier --write

add updated ignore for Nodejs. add OCaml too
  .gitignore
Due: none

upgrade repo default Node version to 10.13.0LTS
  .tool-versions
Due: none

replace lint-staged with pretty-quick.
  package.json
  yarn.lock
Due: prettier --write

add compile_code examples for babel, ts, parcel & flow, parcel & ts
  firebase-cloud_functions-compiled-code-parcel-typescript/firebase.json
  firebase-cloud_functions-compiled-code-parcel-typescript/package.json
  firebase-cloud_functions-compiled-code-parcel-typescript/src/index.ts
  firebase-cloud_functions-compiled-code-parcel-typescript/tsconfig.json
  firebase-cloud_functions-compiled-code-parcel-typescript/yarn.lock
  firebase-cloud_functions-compiled_code-babel/README.md
  firebase-cloud_functions-compiled_code-babel/firebase.json
  firebase-cloud_functions-compiled_code-babel/package.json
  firebase-cloud_functions-compiled_code-babel/src/index.js
  firebase-cloud_functions-compiled_code-babel/yarn.lock
  firebase-cloud_functions-compiled_code-parcel_flow/firebase.json
  firebase-cloud_functions-compiled_code-parcel_flow/package.json
  firebase-cloud_functions-compiled_code-parcel_flow/src/index.js
  firebase-cloud_functions-compiled_code-parcel_flow/yarn.lock
  firebase-cloud_functions-compiled_code-typescript/.tool-versions
  firebase-cloud_functions-compiled_code-typescript/firebase.json
  firebase-cloud_functions-compiled_code-typescript/package.json
  firebase-cloud_functions-compiled_code-typescript/src/index.ts
  firebase-cloud_functions-compiled_code-typescript/tsconfig.json
  firebase-cloud_functions-compiled_code-typescript/yarn.lock
Due: prettier --write, eslint

add tool-versions & rm npm shell script
  firebase-cloud_functions-compiled-code-parcel-typescript/.tool-versions
  firebase-cloud_functions-compiled-code-parcel-typescript/package.json
  firebase-cloud_functions-compiled_code-babel/.tool-versions
  firebase-cloud_functions-compiled_code-babel/package.json
  firebase-cloud_functions-compiled_code-parcel_flow/.tool-versions
  firebase-cloud_functions-compiled_code-parcel_flow/package.json
  firebase-cloud_functions-compiled_code-typescript/package.json
Due: prettier --write

add .babelrc to babel example & specify node version
  firebase-cloud_functions-compiled_code-babel/.babelrc
Due: none

fin readme & add extra cmd to create config
  firebase-cloud_functions-compiled_code-babel/.babelrc
  firebase-cloud_functions-compiled_code-babel/README.md
  firebase-cloud_functions-compiled_code-babel/package.json
Due: prettier --write

finalise readme
  firebase-cloud_functions-compiled_code/README.md
  firebase-cloud_functions-compiled_code/parcel-flow/README.md
  firebase-cloud_functions-compiled_code/parcel-typescript/README.md
  firebase-cloud_functions-compiled_code/typescript/README.md
Due: prettier --write

add TS link
  firebase-cloud_functions-compiled_code/README.md
Due: prettier --write

firebase cloud functions compiled code examples
  fb-functions-compiled_code/README.md
  fb-functions-compiled_code/babel-flow/.babelrc
  fb-functions-compiled_code/babel-flow/.tool-versions
  fb-functions-compiled_code/babel-flow/firebase.json
  fb-functions-compiled_code/babel-flow/package.json
  fb-functions-compiled_code/babel-flow/src/index.js
  fb-functions-compiled_code/babel-flow/yarn.lock
  fb-functions-compiled_code/babel/.babelrc
  fb-functions-compiled_code/babel/.tool-versions
  fb-functions-compiled_code/babel/firebase.json
  fb-functions-compiled_code/babel/package.json
  fb-functions-compiled_code/babel/src/index.js
  fb-functions-compiled_code/babel/yarn.lock
  fb-functions-compiled_code/parcel-flow/.tool-versions
  fb-functions-compiled_code/parcel-flow/firebase.json
  fb-functions-compiled_code/parcel-flow/package.json
  fb-functions-compiled_code/parcel-flow/src/index.js
  fb-functions-compiled_code/parcel-flow/yarn.lock
  fb-functions-compiled_code/parcel-reasonml/.tool-versions
  fb-functions-compiled_code/parcel-reasonml/bsconfig.json
  fb-functions-compiled_code/parcel-reasonml/firebase.json
  fb-functions-compiled_code/parcel-reasonml/package.json
  fb-functions-compiled_code/parcel-reasonml/src/Main.bs.js
  fb-functions-compiled_code/parcel-reasonml/src/Main.re
  fb-functions-compiled_code/parcel-reasonml/src/index.js
  fb-functions-compiled_code/parcel-reasonml/yarn.lock
  fb-functions-compiled_code/parcel-typescript/.tool-versions
  fb-functions-compiled_code/parcel-typescript/firebase.json
  fb-functions-compiled_code/parcel-typescript/package.json
  fb-functions-compiled_code/parcel-typescript/src/index.ts
  fb-functions-compiled_code/parcel-typescript/tsconfig.json
  fb-functions-compiled_code/parcel-typescript/yarn.lock
  fb-functions-compiled_code/typescript/.tool-versions
  fb-functions-compiled_code/typescript/firebase.json
  fb-functions-compiled_code/typescript/package.json
  fb-functions-compiled_code/typescript/src/index.ts
  fb-functions-compiled_code/typescript/tsconfig.json
  fb-functions-compiled_code/typescript/yarn.lock
Due: prettier --write, eslint

update dl instructions to use new folder name
  fb-functions-compiled_code/README.md
Due: prettier --write

deprecate example. see deprecated branch
  firebase-functions-es6-babel/.firebaserc
  firebase-functions-es6-babel/.gitignore
  firebase-functions-es6-babel/README.md
  firebase-functions-es6-babel/firebase.json
  firebase-functions-es6-babel/package.json
  firebase-functions-es6-babel/src/.babelrc
  firebase-functions-es6-babel/src/functions/index.js
  firebase-functions-es6-babel/yarn.lock
Due: prettier --write, eslint
