Repository jthegedus/firebase-gcp-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.yml:

---
"*.{js,jsx,ts,tsx,json,css,scss,md,graphql}":
  - prettier --write
  - git add
"*.{js,jsx}":
  - eslint

nextjs: fix client to server connection
  functions-nextjs/src/client/next.config.js
  functions-nextjs/src/server/index.js
Due: prettier --write, eslint

nextjs: update deps
  functions-nextjs/package.json
  functions-nextjs/yarn.lock
Due: prettier --write

nextjs: update readme
  functions-nextjs/README.md
Due: prettier --write

nextjs: setup script
  functions-nextjs/package.json
Due: prettier --write

nextjs: fix readme
  functions-nextjs/README.md
Due: prettier --write

nextjs: add nextjs example to table
  README.md
Due: prettier --write

nextjs: explain differences to last example
  functions-nextjs/README.md
Due: prettier --write

nextjs: add post name to readme
  README.md
Due: prettier --write

nextjs: document server config
  functions-nextjs/src/server/index.js
Due: prettier --write, eslint

index: state of firebase mid 2019
  README.md
Due: prettier --write

index: add state of firebase 2019 (#28)
  README.md
Due: prettier --write

rm example
  .all-contributorsrc
Due: none

rm example
  README.md
Due: prettier --write

docs: note about contributors
  README.md
Due: prettier --write

nuxtjs: working example
  functions-nuxtjs/README.md
  functions-nuxtjs/firebase.json
  functions-nuxtjs/package.json
  functions-nuxtjs/src/server/.babelrc
  functions-nuxtjs/src/server/index.js
  functions-nuxtjs/yarn.lock
Due: prettier --write, eslint

nuxtjs: add working ssr example (#40)
  functions-nuxtjs/README.md
  functions-nuxtjs/firebase.json
  functions-nuxtjs/package.json
  functions-nuxtjs/public/favicon-16x16.png
  functions-nuxtjs/public/favicon-32x32.png
  functions-nuxtjs/public/favicon-96x96.png
  functions-nuxtjs/public/favicon.ico
  functions-nuxtjs/public/placeholder.html
  functions-nuxtjs/src/client/components/Header.vue
  functions-nuxtjs/src/client/layouts/default.vue
  functions-nuxtjs/src/client/nuxt.config.js
  functions-nuxtjs/src/client/pages/about.vue
  functions-nuxtjs/src/client/pages/index.vue
  functions-nuxtjs/src/server/.babelrc
  functions-nuxtjs/src/server/index.js
  functions-nuxtjs/yarn.lock
Due: prettier --write, eslint

nextjs: improve readme
  functions-nextjs/README.md
Due: prettier --write

nextjs: improve readme (#42)
  functions-nextjs/README.md
Due: prettier --write

nuxtjs: add to repo index table
  README.md
Due: prettier --write

nuxtjs: add to repo index table (#43)
  README.md
Due: prettier --write

[fix] firebase serve and deploy
  functions-nextjs/README.md
  functions-nextjs/firebase.json
  functions-nextjs/package.json
  functions-nextjs/yarn.lock
Due: prettier --write

froze firebase-tools dependency at 6.8.0
  functions-nextjs/package.json
Due: prettier --write

incorperated changes from @jthegedus on #44
  functions-nextjs/README.md
  functions-nextjs/firebase.json
  functions-nextjs/package.json
  functions-nextjs/src/server/index.js
  functions-nextjs/yarn.lock
Due: prettier --write, eslint

nextjs: fix bugs and improve documentation (#44)
  functions-nextjs/README.md
  functions-nextjs/package.json
  functions-nextjs/src/server/index.js
  functions-nextjs/yarn.lock
Due: prettier --write, eslint

bumped firebase-tools, admin, functions and added functions-framework
  functions-nextjs/package.json
  functions-nextjs/yarn.lock
Due: prettier --write

updated README to reflect updates in functionality
  functions-nextjs/README.md
Due: prettier --write

reverted accidental spaces > tabs
  functions-nextjs/package.json
Due: prettier --write

nextjs: serve working OOB by bumping firebase-tools@7.0.0 to use functions-framework (#46)
  functions-nextjs/README.md
  functions-nextjs/package.json
  functions-nextjs/yarn.lock
Due: prettier --write

use emoji
  functions-nextjs/README.md
Due: prettier --write

remove google-cloud/functions-framework
  functions-nextjs/package.json
  functions-nextjs/yarn.lock
Due: prettier --write

nextjs: fix deps (#47)
  functions-nextjs/README.md
  functions-nextjs/package.json
  functions-nextjs/yarn.lock
Due: prettier --write

update deps
  functions-nuxtjs/package.json
  functions-nuxtjs/yarn.lock
Due: prettier --write

initialize firebase admin
  functions-nuxtjs/src/server/index.js
Due: prettier --write, eslint

remove notes on Functions emulator
  functions-nuxtjs/README.md
Due: prettier --write

nuxtjs: update deps (#48)
  functions-nuxtjs/README.md
  functions-nuxtjs/package.json
  functions-nuxtjs/src/server/index.js
  functions-nuxtjs/yarn.lock
Due: prettier --write, eslint

cloud build community builders
  gcp-community-builders/README.md
Due: prettier --write

functions-nextjs: update readme
  functions-nextjs/README.md
Due: prettier --write
