Repository jthegedus/firebase-gcp-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.yml:

---
"*.{js,jsx,ts,tsx,json,css,scss,md,graphql}":
  - prettier --write
  - git add
"*.{js,jsx}":
  - eslint

remove husky postinstall
  package.json
Due: prettier --write

namespaced-pkgs: add missing types
  firebase-namespaced-packages/README.md
  firebase-namespaced-packages/package.json
  firebase-namespaced-packages/yarn.lock
Due: prettier --write

update prettier and eslint ignore files
  .eslintignore
  .prettierignore
Due: none

add issue template
  .github/issue_template.md
Due: prettier --write

init movement of babel example to here
  firebase-functions-es6-babel/package.json
Due: prettier --write

init es6-babel example README
  firebase-functions-es6-babel/README.md
Due: prettier --write

fix issue link in pkg.json
  firebase-functions-es6-babel/package.json
Due: prettier --write

move 'styled-with-prettier' badge to root README
  README.md
  firebase-functions-es6-babel/README.md
Due: prettier --write

add ES6+ with Babel example
  firebase-functions-es6-babel/.firebaserc
  firebase-functions-es6-babel/.gitignore
  firebase-functions-es6-babel/firebase.json
  firebase-functions-es6-babel/package.json
  firebase-functions-es6-babel/src/.babelrc
  firebase-functions-es6-babel/src/functions/index.js
  firebase-functions-es6-babel/yarn.lock
Due: prettier --write, eslint

namespaced-pkgs: fix pkg.json scripts and add description etc
  firebase-namespaced-packages/package.json
Due: prettier --write

es6-babel: Add README and update links in root README
  README.md
  firebase-functions-es6-babel/README.md
Due: prettier --write

update README
  firebase-namespaced-packages/README.md
Due: prettier --write

reorder pkg.json
  firebase-namespaced-packages/package.json
Due: prettier --write

add link to blog in README
  README.md
Due: prettier --write

babel-es6: order pkg.json
  firebase-functions-es6-babel/package.json
Due: prettier --write

babel-es6: make npm scripts consistent
  firebase-functions-es6-babel/firebase.json
  firebase-functions-es6-babel/package.json
Due: prettier --write

add disclaimer about Yarn user over npm
  README.md
Due: prettier --write

babel-es6: fix typo
  firebase-functions-es6-babel/README.md
Due: prettier --write

update package.json files to support codesandbox importing
  firebase-functions-es6-babel/package.json
  firebase-namespaced-packages/package.json
  yarn.lock
Due: prettier --write

update License to explicitly direct users to Licenses of dependencies
  LICENSE
Due: none

add note on Firebase tools versions vs Cloud Function runtime version
  README.md
Due: prettier --write

remove main from package.json as it interferes with firebase deployment
  firebase-functions-es6-babel/package.json
  firebase-namespaced-packages/package.json
Due: prettier --write

add example: express.js on firebase functions
  README.md
  firebase-functions-express/.firebaserc
  firebase-functions-express/README.md
  firebase-functions-express/firebase.json
  firebase-functions-express/package.json
  firebase-functions-express/src/functions/index.js
  firebase-functions-express/yarn.lock
Due: prettier --write, eslint

make READMEs clearer
  README.md
  firebase-functions-express/README.md
Due: prettier --write

CodeSandbox - firebase-tools conflict example
  firebase-functions-express/package.json
  firebase-functions-express/src/index.js
Due: prettier --write, eslint

test codesandbox with empty main field in pkg.json
  firebase-functions-es6-babel/package.json
Due: prettier --write

revert CodeSandbox test change
  firebase-functions-es6-babel/package.json
Due: prettier --write

express example: Add disclaimer about breakage and instruct on soln
  firebase-functions-express/README.md
Due: prettier --write

fb-namespaced-pkgs: add types
  firebase-namespaced-packages/package.json
  firebase-namespaced-packages/yarn.lock
Due: prettier --write

fb-namespaced-pkgs: use next-bundle-analyzer plugin
  firebase-namespaced-packages/README.md
  firebase-namespaced-packages/package.json
  firebase-namespaced-packages/src/next.config.js
  firebase-namespaced-packages/yarn.lock
Due: prettier --write, eslint

add more info to README
  README.md
Due: prettier --write

add Contributions info to readme
  README.md
Due: prettier --write

emoji :tada:
  README.md
Due: prettier --write

more emoji :tada: :smiley:
  README.md
Due: prettier --write

init gcp functions graphql example
  gcp-functions-graphql/README.md
Due: prettier --write

gcp functions graphql example: working example, blog post soon
  gcp-functions-graphql/.gcloudignore
  gcp-functions-graphql/README.md
  gcp-functions-graphql/package.json
  gcp-functions-graphql/src/functions/.babelrc
  gcp-functions-graphql/src/functions/graphql/data/resolvers.js
  gcp-functions-graphql/src/functions/graphql/data/schema.js
  gcp-functions-graphql/src/functions/graphql/server.js
  gcp-functions-graphql/src/functions/index.js
  gcp-functions-graphql/yarn.lock
Due: prettier --write, eslint

update Posts & Code table
  README.md
Due: prettier --write

emoji headers fix
  README.md
Due: prettier --write

fix emoji header links
  README.md
Due: prettier --write

gcp funcs graphql example: add gitignore
  gcp-functions-graphql/.gitignore
Due: none
