Repository jthegedus/firebase-gcp-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: nextjs-ssg
  hosting-nextjs-ssg/.gitignore
  hosting-nextjs-ssg/.tool-versions
  hosting-nextjs-ssg/firebase.json
  hosting-nextjs-ssg/package-lock.json
  hosting-nextjs-ssg/package.json
Due: prettier --write

chore: ignore nextjs export output
  hosting-nextjs-ssg/.gitignore
Due: none

feat: nextjs ssg on firebase hosting
  hosting-nextjs-ssg/components/Header.js
  hosting-nextjs-ssg/firebase.json
  hosting-nextjs-ssg/package.json
  hosting-nextjs-ssg/pages/about.js
  hosting-nextjs-ssg/pages/index.js
  hosting-nextjs-ssg/public/favicon.ico
  hosting-nextjs-ssg/public/zeit.svg
Due: prettier --write, eslint

chore: clean .next and out dir before final build
  hosting-nextjs-ssg/package-lock.json
  hosting-nextjs-ssg/package.json
Due: prettier --write

fix: ssg linking to non-root static pages
  hosting-nextjs-ssg/components/Header.js
  hosting-nextjs-ssg/firebase.json
Due: prettier --write, eslint

feat: nextjs ssg with firestore data source
  hosting-nextjs-ssg/README.md
  hosting-nextjs-ssg/components/Footer.js
  hosting-nextjs-ssg/components/Header.js
  hosting-nextjs-ssg/firebase.json
  hosting-nextjs-ssg/firestore.rules
  hosting-nextjs-ssg/next.config.js
  hosting-nextjs-ssg/package-lock.json
  hosting-nextjs-ssg/package.json
  hosting-nextjs-ssg/pages/index.js
  hosting-nextjs-ssg/pages/posts/[slug].js
  hosting-nextjs-ssg/public/firebase-hosting.svg
  hosting-nextjs-ssg/public/nextjs.svg
  hosting-nextjs-ssg/public/zeit.svg
Due: prettier --write, eslint

fix: placeholder firebase project id
  hosting-nextjs-ssg/next.config.js
Due: prettier --write, eslint

docs: nextjs ssg
  README.md
  hosting-nextjs-ssg/README.md
Due: prettier --write

feat: Next.js SSG on Firebase Hosting with Firestore (#101)
  README.md
  hosting-nextjs-ssg/.gitignore
  hosting-nextjs-ssg/.tool-versions
  hosting-nextjs-ssg/README.md
  hosting-nextjs-ssg/components/Footer.js
  hosting-nextjs-ssg/components/Header.js
  hosting-nextjs-ssg/firebase.json
  hosting-nextjs-ssg/firestore.rules
  hosting-nextjs-ssg/next.config.js
  hosting-nextjs-ssg/package-lock.json
  hosting-nextjs-ssg/package.json
  hosting-nextjs-ssg/pages/about.js
  hosting-nextjs-ssg/pages/index.js
  hosting-nextjs-ssg/pages/posts/[slug].js
  hosting-nextjs-ssg/public/favicon.ico
  hosting-nextjs-ssg/public/firebase-hosting.svg
  hosting-nextjs-ssg/public/nextjs.svg
Due: prettier --write, eslint

docs: make ssg getStaticPaths fallback usage clear
  hosting-nextjs-ssg/README.md
Due: prettier --write

chore: init new nextjs example
  functions-nextjs/.gitignore
  functions-nextjs/.tool-versions
  functions-nextjs/README.md
  functions-nextjs/components/Footer.js
  functions-nextjs/components/Header.js
  functions-nextjs/firebase.json
  functions-nextjs/firestore.rules
  functions-nextjs/next.config.js
  functions-nextjs/package-lock.json
  functions-nextjs/package.json
  functions-nextjs/pages/about.js
  functions-nextjs/pages/blog/[post].js
  functions-nextjs/pages/blog/index.js
  functions-nextjs/pages/index.js
  functions-nextjs/pages/posts/[slug].js
  functions-nextjs/public/favicon-16x16.png
  functions-nextjs/public/favicon-32x32.png
  functions-nextjs/public/favicon-96x96.png
  functions-nextjs/public/favicon.ico
  functions-nextjs/public/firebase-hosting.svg
  functions-nextjs/public/index.html
  functions-nextjs/public/nextjs.svg
  functions-nextjs/public/placeholder.html
  functions-nextjs/readme.md
  functions-nextjs/server.js
  functions-nextjs/src/client/components/App.js
  functions-nextjs/src/client/components/Header.js
  functions-nextjs/src/client/next.config.js
  functions-nextjs/src/client/pages/about.js
  functions-nextjs/src/client/pages/index.js
  functions-nextjs/src/server/.babelrc
  functions-nextjs/yarn.lock
Due: prettier --write, eslint

feat: new nextjs 9-3 example
  functions-nextjs/components/Header.js
  functions-nextjs/firebase.json
  functions-nextjs/helpers/utils.js
  functions-nextjs/package-lock.json
  functions-nextjs/package.json
  functions-nextjs/pages/about.js
  functions-nextjs/pages/blog/[pid].js
  functions-nextjs/pages/blog/[post].js
  functions-nextjs/pages/blog/not-a-post.js
  functions-nextjs/pages/index.js
  functions-nextjs/public/index.html
  functions-nextjs/readme.md
  functions-nextjs/scripts/export.js
Due: prettier --write, eslint

docs: improve setup instructions
  functions-nextjs/firebase.json
  functions-nextjs/next.config.js
  functions-nextjs/package.json
  functions-nextjs/readme.md
Due: prettier --write, eslint

fix: hosting rewrite
  hosting-nextjs-ssg/firebase.json
Due: prettier --write

docs: improve instructions
  functions-nextjs/readme.md
Due: prettier --write

fix: instructions
  hosting-nextjs-ssg/README.md
  hosting-nextjs-ssg/firebase.json
Due: prettier --write

feat: update nextjs to 9-3 (#102)
  functions-nextjs/.gitignore
  functions-nextjs/.tool-versions
  functions-nextjs/README.md
  functions-nextjs/components/Footer.js
  functions-nextjs/components/Header.js
  functions-nextjs/firebase.json
  functions-nextjs/firestore.rules
  functions-nextjs/helpers/utils.js
  functions-nextjs/next.config.js
  functions-nextjs/package-lock.json
  functions-nextjs/package.json
  functions-nextjs/pages/about.js
  functions-nextjs/pages/blog/[pid].js
  functions-nextjs/pages/blog/index.js
  functions-nextjs/pages/blog/not-a-post.js
  functions-nextjs/pages/index.js
  functions-nextjs/public/favicon-16x16.png
  functions-nextjs/public/favicon-32x32.png
  functions-nextjs/public/favicon-96x96.png
  functions-nextjs/public/favicon.ico
  functions-nextjs/public/firebase-hosting.svg
  functions-nextjs/public/nextjs.svg
  functions-nextjs/public/placeholder.html
  functions-nextjs/readme.md
  functions-nextjs/scripts/export.js
  functions-nextjs/server.js
  functions-nextjs/src/client/components/App.js
  functions-nextjs/src/client/components/Header.js
  functions-nextjs/src/client/next.config.js
  functions-nextjs/src/client/pages/about.js
  functions-nextjs/src/client/pages/index.js
  functions-nextjs/src/server/.babelrc
  functions-nextjs/yarn.lock
  hosting-nextjs-ssg/README.md
  hosting-nextjs-ssg/firebase.json
Due: prettier --write, eslint

docs: update nextjs post list in readme
  README.md
Due: prettier --write

docs: warn against firebase emulator
  functions-nextjs/readme.md
Due: prettier --write

docs: cleanup nextjs instructions
  functions-nextjs/readme.md
Due: prettier --write

chore: enable github sponsors
  .github/FUNDING.yml
Due: none

feat: fetch is included by nextjs in nodejs and browser envs now
  functions-nextjs/package-lock.json
  functions-nextjs/package.json
  functions-nextjs/pages/blog/[pid].js
  functions-nextjs/pages/blog/index.js
  functions-nextjs/pages/index.js
Due: prettier --write, eslint

fix: bug in static asset hoisting script
  functions-nextjs/next.config.js
  functions-nextjs/scripts/export.js
Due: prettier --write, eslint

feat: make about/ ssg page to demonstrate all page types
  functions-nextjs/pages/about.js
Due: prettier --write, eslint

feat: nextjs bump to 9-4 (#103)
  functions-nextjs/next.config.js
  functions-nextjs/package-lock.json
  functions-nextjs/package.json
  functions-nextjs/pages/about.js
  functions-nextjs/pages/blog/[pid].js
  functions-nextjs/pages/blog/index.js
  functions-nextjs/pages/index.js
  functions-nextjs/scripts/export.js
Due: prettier --write, eslint

fix: 404 if ssg page not found at runtime
  functions-nextjs/package.json
  functions-nextjs/pages/blog/[pid].js
Due: prettier --write, eslint

fix: ssg comments about cache controls
  functions-nextjs/pages/blog/[pid].js
  functions-nextjs/readme.md
Due: prettier --write, eslint

feat: use prettier with tabs
  .prettierrc
Due: none

chore: remove older next.js ssg example
  hosting-nextjs-ssg/.tool-versions
  hosting-nextjs-ssg/README.md
  hosting-nextjs-ssg/next.config.js
  hosting-nextjs-ssg/public/firebase-hosting.svg
Due: prettier --write, eslint

feat: next.js example on Cloud Run
  cloudrun-nextjs/.dockerignore
  cloudrun-nextjs/.gitignore
  cloudrun-nextjs/.tool-versions
  cloudrun-nextjs/Dockerfile
  cloudrun-nextjs/components/Footer.js
  cloudrun-nextjs/components/Header.js
  cloudrun-nextjs/firebase.json
  cloudrun-nextjs/firestore.rules
  cloudrun-nextjs/helpers/utils.js
  cloudrun-nextjs/next.config.js
  cloudrun-nextjs/package-lock.json
  cloudrun-nextjs/package.json
  cloudrun-nextjs/pages/about.js
  cloudrun-nextjs/pages/blog/[pid].js
  cloudrun-nextjs/pages/blog/index.js
  cloudrun-nextjs/pages/blog/not-a-post.js
  cloudrun-nextjs/pages/index.js
  cloudrun-nextjs/public/favicon.ico
  cloudrun-nextjs/public/firebase-hosting.svg
  cloudrun-nextjs/public/nextjs.svg
  cloudrun-nextjs/readme.md
  hosting-nextjs-ssg/components/Footer.js
  hosting-nextjs-ssg/components/Header.js
  hosting-nextjs-ssg/firebase.json
  hosting-nextjs-ssg/package.json
  hosting-nextjs-ssg/pages/about.js
  hosting-nextjs-ssg/pages/index.js
  hosting-nextjs-ssg/pages/posts/[slug].js
Due: prettier --write, eslint

docs: cloud run nextjs example in table
  README.md
Due: prettier --write

feat: use double quotes over single
  .prettierrc
Due: none

chore: format
  functions-nextjs/components/Footer.js
  functions-nextjs/components/Header.js
  functions-nextjs/firebase.json
  functions-nextjs/helpers/utils.js
  functions-nextjs/next.config.js
  functions-nextjs/package.json
  functions-nextjs/pages/about.js
  functions-nextjs/pages/blog/[pid].js
  functions-nextjs/pages/blog/index.js
  functions-nextjs/pages/index.js
  functions-nextjs/scripts/export.js
  functions-nextjs/server.js
Due: prettier --write, eslint

nextjs: rm export script, bump firebase, enable emulator. expand readme
  functions-nextjs/.tool-versions
  functions-nextjs/firebase.json
  functions-nextjs/package.json
  functions-nextjs/readme.md
  functions-nextjs/scripts/export.js
Due: prettier --write, eslint

wip
  cloudrun-nextjs/cloudbuild.yaml
  cloudrun-nextjs/next.config.js
  cloudrun-nextjs/readme.md
Due: prettier --write, eslint

chore: caveat for nextjs preview mode
  functions-nextjs/readme.md
Due: prettier --write

nextjs: update firestore rules
  functions-nextjs/firestore.rules
Due: none

chore: bump firebase-tools and nodejs version
  functions-nextjs/.tool-versions
Due: none

chore: update deps, bump cloud functions nodejs version target
  functions-nextjs/package-lock.json
  functions-nextjs/package.json
Due: prettier --write

fix: guard against empty data.documents
  functions-nextjs/helpers/utils.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,scss,md,graphql}
  eslint: any of: *.{js,jsx}
