Repository jthegedus/firebase-gcp-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.yml:

---
"*.{js,jsx,ts,tsx,json,css,scss,md,graphql}":
  - prettier --write
  - git add
"*.{js,jsx}":
  - eslint

feat: enable ISR on blog/* route
  functions-nextjs/pages/blog/[pid].js
Due: prettier --write, eslint

fix: actually use nodejs 12 cloud functions
  functions-nextjs/package.json
Due: prettier --write

chore: ISR revalidate time set to 60s
  functions-nextjs/pages/blog/[pid].js
Due: prettier --write, eslint

feat: enable Next.js Incremental Static Regeneration (ISR) (#141)
  functions-nextjs/.tool-versions
  functions-nextjs/helpers/utils.js
  functions-nextjs/package-lock.json
  functions-nextjs/package.json
  functions-nextjs/pages/blog/[pid].js
Due: prettier --write, eslint

fix: use gsp to force static compilation
  functions-nextjs/pages/index.js
Due: prettier --write, eslint

fix: update links to point to new default branches
  cloudrun-nextjs/pages/about.js
  deprecated/gcp-functions-graphql/README.md
  functions-graphql-apollo/README.md
  functions-nextjs/pages/about.js
Due: prettier --write, eslint

Update readme.md
  functions-nextjs/readme.md
Due: prettier --write

Update readme.md (#145)
  functions-nextjs/readme.md
Due: prettier --write

Update firebase.json
  functions-nextjs/firebase.json
Due: prettier --write

Update firebase.json (#173)
  functions-nextjs/firebase.json
Due: prettier --write

chore: dependabot monthly scan
  .github/dependabot.yml
Due: none
