Repository jthegedus/firebase-gcp-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.yml:

---
"*.{js,jsx,ts,tsx,json,css,scss,md,graphql}":
  - prettier --write
  - git add
"*.{js,jsx}":
  - eslint

rename to fb-functions-express
  fb-functions-express/README.md
  fb-functions-express/firebase.json
  fb-functions-express/package.json
  fb-functions-express/src/functions/index.js
  fb-functions-express/yarn.lock
  firebase-functions-express/.firebaserc
Due: prettier --write, eslint

rename example
  fb-namespaced_packages/.gitignore
  fb-namespaced_packages/README.md
  fb-namespaced_packages/package.json
  fb-namespaced_packages/src/next.config.js
  fb-namespaced_packages/src/pages/about.js
  fb-namespaced_packages/src/pages/contact.js
  fb-namespaced_packages/src/pages/index.js
  fb-namespaced_packages/yarn.lock
Due: prettier --write, eslint

update examples & links in readme
  README.md
Due: prettier --write

fix readme
  fb-functions-compiled_code/README.md
Due: prettier --write

add img
  README.md
Due: prettier --write

Add @jthegedus as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

add all-contributors to repo
  README.md
  package.json
  yarn.lock
Due: prettier --write

pin to latest firebase supported node version
  .tool-versions
Due: none

update img. add awesome-firebase link
  README.md
Due: prettier --write

Edited twitter profile link
  README.md
Due: prettier --write

Edited twitter profile link (#9)
  README.md
Due: prettier --write

inline emoji
  README.md
Due: prettier --write

Fix curl instructions
  fb-functions-express/README.md
Due: prettier --write

Fix curl instructions (#10)
  fb-functions-express/README.md
Due: prettier --write

update Node 8 LTS
  .tool-versions
Due: none

update deps
  package.json
  yarn.lock
Due: prettier --write

rm all contributors
  package.json
  yarn.lock
Due: prettier --write

rm all contributors in favour of the bot (#11)
  .tool-versions
  package.json
  yarn.lock
Due: prettier --write

update email
  package.json
Due: prettier --write

rm private field
  package.json
Due: prettier --write

clean up root of repo
  .prettierignore
  .tool-versions
  package.json
  yarn.lock
Due: prettier --write

add new namespaced-pkgs
  namespaced-pkgs/README.md
  namespaced-pkgs/package.json
  namespaced-pkgs/src/next.config.js
  namespaced-pkgs/src/pages/about.js
  namespaced-pkgs/src/pages/contact.js
  namespaced-pkgs/src/pages/index.js
  namespaced-pkgs/yarn.lock
Due: prettier --write, eslint

add cron example
  cron/.tool-versions
  cron/README.md
  cron/firebase.json
  cron/package.json
  cron/src/index.js
  cron/yarn.lock
Due: prettier --write, eslint

add compiling functions with babel example
  functions-w-babel/.babelrc
  functions-w-babel/.tool-versions
  functions-w-babel/README.md
  functions-w-babel/firebase.json
  functions-w-babel/package.json
  functions-w-babel/src/function.js
  functions-w-babel/yarn.lock
Due: prettier --write, eslint

add compiling functions with parceljs example
  functions-w-parcel/.tool-versions
  functions-w-parcel/README.md
  functions-w-parcel/firebase.json
  functions-w-parcel/package.json
  functions-w-parcel/src/function.ts
  functions-w-parcel/tsconfig.json
  functions-w-parcel/yarn.lock
Due: prettier --write

update README
  README.md
Due: prettier --write

add note about Firebase vs GCP examples
  README.md
Due: prettier --write

shorten description
  README.md
Due: prettier --write

update LICENSE to standard MIT License
  LICENSE
Due: none

link to awesome firebase
  README.md
Due: prettier --write

link to awesome firebase (#22)
  README.md
Due: prettier --write

cron: udpate deps, scripts & use node 10
  cron/.tool-versions
  cron/package.json
  cron/src/functions.js
  cron/yarn.lock
Due: prettier --write, eslint

babel: update deps, scripts & use node 10
  functions-w-babel/.tool-versions
  functions-w-babel/package.json
  functions-w-babel/src/function.js
  functions-w-babel/yarn.lock
Due: prettier --write, eslint

parcel: update deps, scripts & use node 10
  functions-w-parcel/.tool-versions
  functions-w-parcel/package.json
  functions-w-parcel/tslint.json
  functions-w-parcel/yarn.lock
Due: prettier --write

express: new example with updated deps, scripts & node 10
  functions-express/README.md
  functions-express/firebase.json
  functions-express/package.json
  functions-express/src/functions.js
  functions-express/src/server.js
  functions-express/yarn.lock
Due: prettier --write, eslint

express: add link to table
  README.md
Due: prettier --write

graphql: new example with updated deps, scripts & node 10
  functions-graphql-apollo/README.md
  functions-graphql-apollo/firebase.json
  functions-graphql-apollo/package.json
  functions-graphql-apollo/src/functions.js
  functions-graphql-apollo/src/graphql/resolvers.js
  functions-graphql-apollo/src/graphql/schema.js
  functions-graphql-apollo/src/graphql/server.js
  functions-graphql-apollo/yarn.lock
Due: prettier --write, eslint

graphql-apollo: add link to table
  README.md
Due: prettier --write

fix: rm old examples & links
  README.md
Due: prettier --write
