Repository jthegedus/firebase-gcp-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

init berglas example
  gcp-cloudrun-berglas/README.md
Due: prettier --write

berglas: add setup scripts
  gcp-cloudrun-berglas/berglas-setup/01-bootstrap.sh
  gcp-cloudrun-berglas/berglas-setup/02-encrypt.sh
Due: none

berglas: init node.js example accessing process.env
  gcp-cloudrun-berglas/helloService/package.json
  gcp-cloudrun-berglas/helloService/src/function.js
  gcp-cloudrun-berglas/helloService/yarn.lock
Due: prettier --write, eslint

berglas: add docker using node alpine & berglas image
  gcp-cloudrun-berglas/helloService/Dockerfile
Due: none

berglas: build & deploy script
  gcp-cloudrun-berglas/helloService/build.sh
  gcp-cloudrun-berglas/helloService/deploy.sh
Due: none

berglas: add missing bucket export
  gcp-cloudrun-berglas/helloService/deploy.sh
Due: none

berglas: fix encrypt script
  gcp-cloudrun-berglas/berglas-setup/02-encrypt.sh
Due: none

berglas: improve instructions
  gcp-cloudrun-berglas/README.md
Due: prettier --write

berglas: allow setting secret path on deploy script
  gcp-cloudrun-berglas/helloService/deploy.sh
Due: none

berglas: set secret path on deploy script
  gcp-cloudrun-berglas/README.md
Due: prettier --write

berglas: improve documentation
  gcp-cloudrun-berglas/README.md
Due: prettier --write

berglas: add link to table
  README.md
Due: prettier --write

cloudrun berglas (#24)
  README.md
  gcp-cloudrun-berglas/README.md
  gcp-cloudrun-berglas/berglas-setup/01-bootstrap.sh
  gcp-cloudrun-berglas/berglas-setup/02-encrypt.sh
  gcp-cloudrun-berglas/helloService/Dockerfile
  gcp-cloudrun-berglas/helloService/build.sh
  gcp-cloudrun-berglas/helloService/deploy.sh
  gcp-cloudrun-berglas/helloService/package.json
  gcp-cloudrun-berglas/helloService/src/function.js
  gcp-cloudrun-berglas/helloService/yarn.lock
Due: prettier --write, eslint

berglas: fix table title
  README.md
Due: prettier --write

nextjs: init example (not working)
  functions-nextjs/README.md
  functions-nextjs/firebase.json
  functions-nextjs/package.json
  functions-nextjs/public/favicon-16x16.png
  functions-nextjs/public/favicon-32x32.png
  functions-nextjs/public/favicon-96x96.png
  functions-nextjs/public/favicon.ico
  functions-nextjs/public/placeholder.html
  functions-nextjs/src/client/components/App.js
  functions-nextjs/src/client/components/Header.js
  functions-nextjs/src/client/next.config.js
  functions-nextjs/src/client/pages/about.js
  functions-nextjs/src/client/pages/index.js
  functions-nextjs/src/server/.babelrc
  functions-nextjs/src/server/index.js
  functions-nextjs/yarn.lock
Due: prettier --write, eslint

nuxtjs: init example (not working)
  functions-nuxtjs/README.md
  functions-nuxtjs/firebase.json
  functions-nuxtjs/package.json
  functions-nuxtjs/public/favicon-16x16.png
  functions-nuxtjs/public/favicon-32x32.png
  functions-nuxtjs/public/favicon-96x96.png
  functions-nuxtjs/public/favicon.ico
  functions-nuxtjs/public/placeholder.html
  functions-nuxtjs/src/client/components/Header.vue
  functions-nuxtjs/src/client/layouts/default.vue
  functions-nuxtjs/src/client/nuxt.config.js
  functions-nuxtjs/src/client/pages/about.vue
  functions-nuxtjs/src/client/pages/index.vue
  functions-nuxtjs/src/server/.babelrc
  functions-nuxtjs/src/server/index.js
  functions-nuxtjs/yarn.lock
Due: prettier --write, eslint

berglas: clean up deps
  gcp-cloudrun-berglas/helloService/package.json
  gcp-cloudrun-berglas/helloService/yarn.lock
Due: prettier --write

berglas: clean up deps (#25)
  gcp-cloudrun-berglas/helloService/package.json
  gcp-cloudrun-berglas/helloService/yarn.lock
Due: prettier --write

berglas: link blog post in readme
  README.md
Due: prettier --write

berglas: link blog post in readme (#26)
  README.md
Due: prettier --write

fix: clean up deps
  functions-express/package.json
  functions-express/yarn.lock
Due: prettier --write

express: link to new post
  functions-express/README.md
Due: prettier --write

express: link to new blog post
  README.md
Due: prettier --write

express: fold imports together
  functions-express/src/functions.js
Due: prettier --write, eslint

graphql: add link to table
  README.md
Due: prettier --write

graphql: rm old medium post
  functions-graphql-apollo/README.md
Due: prettier --write

update: change title for berglas example
  README.md
Due: prettier --write

namespaced-pkgs: update deps, simplify instructions
  namespaced-pkgs/README.md
  namespaced-pkgs/package.json
  namespaced-pkgs/src/next.config.js
  namespaced-pkgs/yarn.lock
Due: prettier --write, eslint

namespaced-pkgs: update deps, simplify instructions (#27)
  namespaced-pkgs/README.md
  namespaced-pkgs/package.json
  namespaced-pkgs/src/next.config.js
  namespaced-pkgs/yarn.lock
Due: prettier --write, eslint

init microservices
  microservices/.gitignore
  microservices/README.md
  microservices/app/firebase.json
  microservices/app/package.json
  microservices/app/public/index.html
  microservices/app/yarn.lock
  microservices/auth/firebase.json
  microservices/auth/package.json
  microservices/auth/src/index.ts
  microservices/auth/src/onNewUser.ts
  microservices/auth/tsconfig.json
  microservices/auth/tslint.json
  microservices/auth/yarn.lock
  microservices/firestore/firebase.json
  microservices/firestore/firestore.indexes.json
  microservices/firestore/firestore.rules
  microservices/firestore/package.json
  microservices/firestore/yarn.lock
  microservices/lerna.json
  microservices/package.json
  microservices/posts/firebase.json
  microservices/posts/package.json
  microservices/posts/src/index.ts
  microservices/posts/src/onPost.ts
  microservices/posts/tsconfig.json
  microservices/posts/tslint.json
  microservices/posts/yarn.lock
  microservices/yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,scss,md,graphql}
  eslint: any of: *.{js,jsx}
